# MYSQL
MYSQL_LOGIN="login_root"
MYSQL_PASSWORD="password_root"

# Server
SERVER_PATH_SITES_AVAILABLE="/etc/apache2/sites-available/"
SERVER_PATH_SITES_ENABLED="/etc/apache2/sites-enabled/"
SERVER_COMMAND_RESTART="/etc/init.d/apache2 restart"
EMAIL_SERVER_ADMIN="network@local.com"
PATH_WWW_FOLDER="/var/www/"
PATH_LOG_FOLDER="/var/log/apache2/"
GROUP="www-data"

# Domain
PREFIX_DB="local"
SUFFIX_URL="local.com"

# Dummy
DUMMY_PATH="/var/www/typo3/dummy/"
DUMMY_DB_NAME="local_typo3_dummy"
DUMMY_DOMAIN="dummy.local.com"
